<div class="row my-3 mx-auto">
  <div class="col-md col-lg">
    <div class="h2 text-danger text-center">本当に退会しますか？</div>
    <div class="h5 text-center">退会すると、ポイント、クーポンは利用できなくなります</div>
    <%= link_to "キャンセル", my_page_path, class: 'btn btn-outline-primary btn-block mt-3' %>
    <div class="d-flex justify-content-end">
      <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger mt-3" %>
    </div>
  </div>
</div>