<div class="my-3">
  <h2>アクセス</h2>
  <div class="d-flex justify-content-center">
    <%= image_tag 'access_map.png', class: "img-fluid" %>
  </div>
  <div class="h5">
    <p>〒123-1234 埼玉県〇〇市〇〇1-21</p>
    <p>駐車場</p>
    <p>当店専用駐車場はございません。近くのコインパーキングをご利用ください。</p>
  </div>
</div>
