<div class="text-center h4 mt-5">
  <p>ようこそ N CAFEへ</p>
  <p>予定の合間にちょこっと利用していただけるよう</p>
  <p>空席情報をご覧いただけます。</p>
  
  <p>ランチやスイーツもご用意していますので</p>
  <p>お昼時をのんびり過ごしたい方にも</p>
  
  <p>いろんな方にとって</p>
  <p>ちょうど良いCAFEを目指しています。</p>
</div>
<div class="d-flex justify-content-center h4 mt-4 mb-4">
  <%= link_to "会員登録", new_customer_registration_path, class: 'text-dark' %>
  <%= link_to "ログイン", new_customer_session_path, class: 'text-dark' %>
  <%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class: 'text-dark' %>
</div>