<div class="bg-danger text-center text-white">
  N CAFEは架空の店舗です。閲覧できる情報は存在しません。
</div>

<div class="text-center h4 mt-5">
  <p>ようこそ N CAFEへ</p>
  <p>予定の合間にちょこっと利用していただけるよう</p>
  <p>空席情報をご覧いただけます。</p>
  
  <p>ランチやスイーツもご用意していますので</p>
  <p>お昼時をのんびり過ごしたい方にも</p>
  
  <p>いろんな方にとって</p>
  <p>ちょうど良いCAFEを目指しています。</p>
</div>
<div class="row d-flex justify-content-center mb-3">
  <div class="col-md-3 col-lg-3 d-flex justify-content-center mt-3"><%= link_to "会員登録", new_customer_registration_path, class: 'text-dark btn btn-outline-success mr-3' %></div>
  
  <div class="col-md-3 col-lg-3 d-flex justify-content-center mt-3"><%= link_to "ログイン", new_customer_session_path, class: 'text-dark btn btn-outline-primary mr-3' %></div>
  
  <div class="col-md-3 col-lg-3 d-flex justify-content-center mt-3"><%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class: 'text-dark btn btn-outline-info' %></div>

</div>