<div class="text-white p-2 style_color">投稿一覧</div>
<div class="row my-3 mx-auto">
  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <% @index_posts.each do |index_post| %>
      <div class="card mx-auto mt-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 p-2 d-flex align-items-center justify-content-center">
            <div>
              <%= link_to admin_post_path(index_post.id) do %>
                <%= image_tag index_post.image.variant(resize: "200x200").processed, class: "img-fluid" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-8 py-3">
            <div class="card-body">
              <p class="card-text"><%= index_post.title %></p>
            </div>
            <div class="card-footer bg-transparent">
              <p class="text-muted"><%= l index_post.created_at, format: :long %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>